/* -------------- popup -------------- */
.poparea {
 display: grid;
 grid-template-columns: repeat(3, min-content);
 justify-content: space-around;
 gap: 100px;
 padding: 55px;
}
.pophost {
 position: relative;
 width: 90px;  /**/
 height: 90px;  /**/
 cursor: pointer;  /*change?*/
 transition: transform 0.2s;
}
.pophost:hover {
 transform: scale(1.05);
}
.pophost img {
 width: 100%;
 height: 100%;
 -webkit-touch-callout: none !important;
-webkit-user-select: none !important;
-webkit-user-drag: none !important;
-khtml-user-select: none !important;
-moz-user-select: none !important;
-ms-user-select: none !important;
 user-select: none !important;
}
.popup {
 position: absolute;
 max-width: 250px;
 width: max-content;
 height: max-content;
 top: 50%;
 left: 50%;
 pointer-events: none;
 text-align: center;
 opacity: 0;
 transition: opacity 0.35s ease, transform 0.35s ease;
 transform: translate(-50%, -50%) scale(0.9);
 box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
.popup.show {
 opacity: 1;
 pointer-events: all;  /*highlighting*/
 transform: translate(-50%, -50%) scale(1);
}

/* -------- popup box -------- */
.popup {
 font-size: small;
 border: 1px solid #947ed0;
 border-radius: 5px;
 display: inline-block;
 padding: 5px;
 background-image: url(../images/bdbg.png);
}