/* ---------------------------- universal stylesheet ---------------------------- */

/* -------------- colors -------------- */
:root {
 /* ----- colors ----- */
 --color11: #4a10e7;/* Bottom border */
 --color10: #553cc3;/* big border */
 --color2: #7f1dff;/* tooltip */

 --color12: #ff2b7c;/* hovergrad */
 --color3: #e14dff;/* heading 1-3, hover */
 --color4: #a36dd6;/* headingoutgrad - scrollbar */

 --color7: #8b57ec;/* border */

 --txt: #cb80f7;/* txt */
 --heading: #581596;/* heading */
 --headingout: #a608ce;/* headingout */
 --scrollbar: #350655;/* scrollbar */

 --rgba1: rgba(110, 82, 126, 0.5);/* textarea */
 --rgba2: rgba(120, 27, 173, 0.4);/* blur */
 --rgba3: rgb(49, 12, 102, .7);/* n1 */
 --rgba4: rgba(73, 13, 112, 0.7);/* inner */
 --rgba5: rgba(155, 21, 155, 0.4);/* outer */
 --rgba6: rgba(191, 81, 255, 0.808);/* track */
}

/* -------------- main layout -------------- */
html {
 cursor: url(../images/cur.gif), auto;
}

/* -------------- hover tooltip -------------- */
#s-m-t-tooltip {
 /* basic */
 max-width: 300px;
 z-index: 10;
 /*      down          right */
 margin: 10px 14px 7px 25px;
 /* style and design */
 padding: 8px;
 background: var(--scrollbar);
 color: var(--color12);
 font-size: 13px;
 line-height: 16px;
}


 /* -------------- links -------------- */
a:link, a:visited {
 color: var(--color3);
 font-weight: bold;
 text-decoration: none;
 line-height: 1.3;
}

a:hover {
 color: var(--color3);
 text-decoration: none;
 line-height: 1.3;
 background-color: var(--heading);
 cursor: url(../images/cur.gif),auto;
}

/* -------------- emphasis -------------- */
b {
 color: var(--color3);
 font-weight: bold;
}

/* ----- highlighted text ----- */
::selection {
 color: var(--color12);
 }

::-moz-selection {
 color: var(--color12);
 }

/* ----- heading colors ----- */
p {
 color: var(--txt);
 line-height: 1.1em;
}

/* ----- heading colors ----- */
h1, h2, h3{
 font-family: 'Kosugi Maru';
 color: var(--color3);
 font-size: 1em;
 text-align: right;
 background-color: var(--heading);
}

h4 {
 font-family: 'Kosugi Maru';
 color: var(--color3);
 font-size: .8em;
 text-align: left;
}

h5 {
 font-family: 'Hachi Maru Pop';
 color: var(--heading);
 font-size: 3.2em;
 line-height: 1.3em;
 background: -webkit-linear-gradient(var(--headingout), var(--color4));
 position: absolute;
 top: 6%;
 left: -1%;
 margin: 1%;
 padding: 2%;
 -webkit-background-clip: text;
 -webkit-text-stroke: 4px transparent;
}

/* ----- list bullets ----- */
ul {
 list-style-image: url(../images/bullet.png);
}





.horizont {
 gap: 20px;
 justify-content: center;
 align-items: center;
 display: table-cell;
}





body {
 font-family: 'Zen Maru Gothic';
 color: var(--txt);
 font-weight: bold;
 line-height: 1.3em;
 background-position: top;
 overflow-x: hidden;
 }

* {
 scrollbar-width: thin;
 scrollbar-color: var(--color4) var(--scrollbar);
}

img {
 max-width: 100%;
 height: auto;
}

textarea {
 color: var(--heading);
 background: var(--rgba1);
 border: 1px solid var(--color7);
 border-radius: 5px;
 width: 98%;
 height: 6.7em;
 padding: 2px;
}

.postav img {
 border:0;
 margin:1% 1% -.5%;
 vertical-align:center
}

#layout {
 background: var(--rgba2);
 border: 3px solid var(--color10);
 border-radius: 5px;
 width: 75em;
 height: auto;
 position: relative;
 margin: auto;
 overflow-y: auto;
}

#topbanner {
 background-image: url(../images/ban.avif);
 background-position: center;
 background-size: cover;
 border-radius: 5px;
 width: 96.7%;
 height: 8em;
 margin: 0.5em;
 padding: 10px;
 overflow-y: hidden;
}

#midbanner {
 background-image: url(../images/mdiv.gif);
 background-repeat: repeat-x;
 border: 1px solid var(--color7);
 border-radius: 5px;
 width: 96.7%;
 margin: 0.5em;
 padding: 10px;
 overflow-x: hidden;
 overflow-y: auto;
}

#botbanner {
 background-image: url(../images/ctbg.gif);
 border: 1px solid var(--color11);
 border-radius: 5px;
 width: 96.7%;
 height: 1.8em;
 margin: 0.5em;
 padding: 10px;
 overflow-x: hidden;
 overflow-y: hidden;
}

#stack {
width: 13.75em;
display: flex;
float: left;
flex-direction: column;
}

#solo {
width: 80%;
position: relative;
display: flex;
float: right;
}

#nav{
 background-image: url(../images/ctbg.gif);
 border: 3px solid var(--color7);
 border-radius: 5px;
 width: 13.75em;
 height: 100%;
 display: flex;
 float: left;
 flex-direction: column;
 margin: 0.5em;
}

#main {
 background-image: url(../images/ctbg.gif);
 border: 3px solid var(--color7);
 border-radius: 5px;
 width: 100%;
 height: 100%;
 position: relative;
 float: right;
 margin: 0.5em;
}

.center {
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#musicplayer {
 text-align: center; 
 background-image: url(../images/ctbg.gif);
 border: 3px solid var(--color7);
 border-radius: 5px;
 width: 13.75em;
 display: flex;
 float: left;
 flex-direction: column;
 margin: 0.5em;
}
 
#botcontainer {
 background-image: url(../images/ctbg.gif);
 border: 3px solid var(--color7);
 border-radius: 5px;
 width: 76%;
 height: 34.8em;
 position: relative;
 float: left;
 margin: 0.5em;
}

.n1{
 background: var(--rgba3);
 border: 1px solid var(--color7);
 border-radius: 5px;
 display: block;
 margin: 3px 1px 3px 1px;
}

.navlink a{
 font-family: 'Zen Maru Gothic';
 color: var(--heading);
 letter-spacing: 2px;
 background: -webkit-linear-gradient(var(--headingout), var(--color4));
 margin: 3px;
 padding: 3px;
 -webkit-background-clip: text;
 -webkit-text-stroke: 4px transparent;
}

.navlink a:hover {
 font-family: 'Zen Maru Gothic';
 background: -webkit-linear-gradient(var(--heading), var(--color12));
 -webkit-background-clip: text;
 -webkit-text-stroke: 4px transparent;
 }

.innercontainer {
 background: var(--rgba4);
 border: 1px solid var(--color7);
 border-radius: 5px;
 margin: 1%;
 padding: 1%;
}

.outercontainer {
 background: var(--rgba5);
 border: 1px solid var(--color7);
 border-radius: 5px;
 padding: 1%;
 margin: 1%;
}

#footer {
 color: var(--txt);
 margin:-1.2em;
 font-size: 0.8em;
}

#content {
 height: 39em;
 padding: 1.5%;
 /* overflow-y: scroll;
 overflow-x: hidden; */
}

#content iframe {
 border:none;
 width:100%;
 height:100%
}

#chat {
 height: 12em;
}

#chat iframe {
 border:none;
 width:100%;
 height:100%
}

#sidepad {
 padding: 4.5%;
}

.layouthead {
 background-image: url(../images/hdrly.png);
 background-repeat: repeat-x;
 background-position: right; 
 height: 1em;
 overflow-x: auto;
}

.navhead {
 background-image: url(../images/hdrsd.gif);
 background-repeat: repeat-x;
 background-position: right; 
 height: 1em;
 overflow-x: auto;
}

.mainhead {
 background-image: url(../images/hdrbg.png);
 background-repeat: repeat-x;
 background-position: right; 
 height: 1em;
 overflow-x: auto;
}

#headerfocus {
 position: absolute;
 right: 1%;
 top: 5.3%;
 scale: 70%;
}

.innerborder {
 background-image: url(../images/bdbg.gif);
 border: 1px solid var(--color7);
 border-radius: 5px;
 display: inline-flex; /* Remove to make fill */
 padding: 1%;
 margin: 1%;
}

*::-webkit-scrollbar {
 width: 16px;
}

*::-webkit-scrollbar-track {
 background: var(--scrollbar);
}

*::-webkit-scrollbar-thumb {
 background-color: var(--color4);
 border-radius: 10px;
 border: 3px solid var(--heading);
}

.songtitle, .track-info, .now-playing{
 color: var(--heading);
 font-size: 0.8em;
 padding: 0px;
}

.controls{
 display: flex; 
 flex-direction: column; 
 gap: 0px;
}

.buttons{
 font-size: 0.8em;
 width: 100%;
 display: flex;
 justify-content: center;
}

.buttons div{
 width: 33.3%;
}

.playpause-track, .prev-track, .next-track{
 color: var(--heading);
 font-size: 1.8em;
}

.volume-icon{
 font-size: 0.8em;
}

.seeking, .volume{
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 0px;			
}

.now-playing { 
}

.track-info{
 background: var(--rgba6);
 border: 1px solid var(--color7);
 border-radius: 5px;
 padding: 5px;
}

.now-playing{
 font-weight: bold;
}

input[type=range]{
width: 95%;
-webkit-appearance: none;
}

input[type=range]:focus{
 outline: none;
}

input[type=range]::-webkit-slider-runnable-track{
 background:var(--heading);
 width: 90%;
 height: 3px;
}

input[type=range]::-webkit-slider-thumb{
 background: var(--heading);
 border-radius: 3px;
 height: 0.8em;
 width: 0.8em;
 margin-top: -3px;
 -webkit-appearance: none;
}

input[type=range]::-moz-range-track{
 background: var(--heading);
 width: 90%;
 height: 3px;
}

input[type=range]::-moz-range-thumb{
 background: var(--heading);
 border: none;
 border-radius: 3px;
 height: 0.8em;
 width: 0.8em;
}

input[type=range]{
 width: 95%;
 -webkit-appearance: none;
}

input[type=range]:focus{
 outline: none;
}

input[type=range]::-webkit-slider-runnable-track{
 background:var(--heading);
 width: 90%;
 height: 3px;
}

input[type=range]::-webkit-slider-thumb{
 background: var(--heading);
 border-radius: 3px;
 width: 0.8em;
 height: 0.8em;
 margin-top: -3px;
 -webkit-appearance: none;
}

input[type=range]::-moz-range-track{
 background: var(--heading);
 width: 90%;
 height: 3px;
}

input[type=range]::-moz-range-thumb{
 background: var(--heading);
 border: none;
 border-radius: 3px;
 width: 0.8em;
 height: 0.8em;
}

.kosugi-maru-regular {
 font-family: "Kosugi Maru", serif;
 font-weight: 400;
 font-style: normal;
}

.zen-maru-gothic-regular {
 font-family: "Zen Maru Gothic", serif;
 font-weight: 400;
 font-style: normal;
}

.hachi-maru-pop-regular {
 font-family: "Hachi Maru Pop", serif;
 font-weight: 400;
 font-style: normal;
}