/* ---------------------------- universal stylesheet ---------------------------- */

/* -------------- colors -------------- */
:root {
 /* ----- colors ----- */
 --color11: #4a10e7;/* Bottom border */
 --color10: #553cc3;/* big border */
 --color2: #7f1dff;/* tooltip */

 --color12: #ff2b7c;/* hovergrad */
 --color3: #e14dff;/* heading 1-3, hover */
 --color4: #a36dd6;/* headingoutgrad - scrollbar */

 --color7: #8b57ec;/* border */

 --txt: #cb80f7;/* txt */
 --heading: #581596;/* heading */
 --headingout: #a608ce;/* headingout */
 --scrollbar: #350655;/* scrollbar */

 --rgba1: rgba(110, 82, 126, 0.5);/* textarea */
 --rgba2: rgba(120, 27, 173, 0.4);/* blur */
 --rgba3: rgb(49, 12, 102, .7);/* n1 */
 --rgba4: rgba(73, 13, 112, 0.7);/* inner */
 --rgba5: rgba(155, 21, 155, 0.4);/* outer */
 --rgba6: rgba(191, 81, 255, 0.808);/* track */


 --curdef: url(../images/cur/default.gif);
 --curwork: url(../images/cur/working.gif);
 --curbusy: url(../images/cur/busy.gif);
 --curlink: url(../images/cur/link.gif);
 --curhelp: url(../images/cur/help.gif);
}

/* --------------  layout -------------- */
html {
 cursor: var(--curdef), auto;
}

/* -------------- hover tooltip -------------- */
#s-m-t-tooltip {
 /* basic */
 max-width: 300px;
 z-index: 10;
 /*      down          right */
 margin: 10px 14px 7px 25px;
 /* style and design */
 padding: 8px;
 background: var(--scrollbar);
 color: var(--color12);
 font-size: 13px;
 line-height: 16px
}


 /* -------------- links -------------- */
a:link, a:visited {
 color: var(--color3);
 font-weight: bold;
 text-decoration: none;
 line-height: 1.3
}

a:hover {
 color: var(--color3);
 text-decoration: none;
 line-height: 1.3;
 background-color: var(--heading);
 cursor: var(--curlink), auto;
}

/* -------------- emphasis -------------- */
b {
 color: var(--color3);
 font-weight: bold
}

span {
 color: var(--color3)
}

/* ----- highlighted text ----- */
::selection {
 color: var(--color12)
 }

::-moz-selection {
 color: var(--color12)
 }

/* ----- heading colors ----- */
p {
 color: var(--txt);
 line-height: 1.1em
}

/* ----- heading colors ----- */
h1, h2, h3{
 font-family: 'Kosugi Maru';
 color: var(--color3);
 font-size: 1em;
 text-align: right;
 background-color: var(--heading);
}

h2 {
 color: var(--color12);
 text-align: center;
}

h3 {
 color: var(--color12);
 text-align: left;
}

h4 {
 font-family: 'Kosugi Maru';
 color: var(--color3);
 font-size: .8em;
 text-align: left
}

h5 {
 font-family: 'Hachi Maru Pop';
 color: var(--heading);
 font-size: 3.2em;
 line-height: 1.3em;
 background: -webkit-linear-gradient(var(--headingout), var(--color3));
 position: relative;
 top: 20%;
 left: -1%;
 margin: 1%;
 padding: 2%;
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-stroke: 4px transparent
}

h7 {
 font-family: 'Kosugi Maru';
 color: var(--color4);
 font-size: .7em;
 text-align: left;
 position: relative;
 bottom: 40.7%;
 left: 2%;
}

/* ----- list bullets ----- */
ul {
 list-style-image: url(../images/bullet.png)
}

details > summary {
	list-style-type: "⇎ ";
}

details[open] > summary {
	list-style-type: "⇕- ";
}


body {
 font-family: 'Zen Maru Gothic';
 color: var(--txt);
 font-weight: bold;
 line-height: 1.3em;
 background-position: top;
 overflow-x: hidden
 }

* {
 scrollbar-width: thin;
 scrollbar-color: var(--color4) var(--scrollbar)
}

img {
 max-width: 100%;
 height: auto
}

textarea {
 color: var(--heading);
 background: var(--rgba1);
 border: 1px solid var(--color7);
 border-radius: 5px;
 width: 98%;
 height: 6.7em;
 padding: 2px
}

.postav img {
 border:0;
 margin:1% 1% -.5%;
 vertical-align:center
}

#layout {
 background: var(--rgba2);
 border: 3px solid var(--color10);
 border-radius: 5px;
 width: 75em;
 height: auto;
 position: relative;
 margin: auto;
 overflow-y: auto
}

#topbanner {
 background-image: url(../images/ban.avif);
 background-position: center;
 background-size: cover;
 border-radius: 5px;
 width: 96.8%;
 height: 8em;
 margin: 0.5em;
 padding: 10px;
 overflow-y: hidden;
 overflow-x: hidden;
 position: relative;
}

#midbanner {
 background-image: url(../images/mdiv.gif);
 background-repeat: repeat-x;
 border: 1px solid var(--color10);
 border-radius: 5px;
 width: 96.8%;
 margin: 0.5em;
 padding: 10px;
 overflow-x: hidden;
 overflow-y: auto
}

#botbanner {
 background-image: url(../images/ctbg.gif);
 border: 1px solid var(--color11);
 border-radius: 5px;
 width: 96.8%;
 height: 1.8em;
 margin: 0.5em;
 padding: 10px;
 overflow-x: hidden;
 overflow-y: hidden
}

.stack {
width: 13.75em;
display: flex;
float: left;
flex-direction: column
}

.rstack {
 flex-direction: column;
 display:flex;
 float: right;
}

.solo {
width: 80%;
position: relative;
display: flex;
float: right
}

.nav {
 background-image: url(../images/ctbg.gif);
 border: 3px solid var(--color7);
 border-radius: 5px;
 width: 13.75em;
 height: 100%;
 display: flex;
 float: left;
 flex-direction: column;
 margin: 0.5em
}

.rnav {
 background-image: url(../images/ctbg.gif);
 border: 3px solid var(--color7);
 border-radius: 5px;
 width: 15em;
 height: 18em;
 display: flex;
 float: left;
 flex-direction: column;
 margin: 0.5em
}

#chatbox {
 background-image: url(../images/ctbg.gif);
 border: 3px solid var(--color7);
 border-radius: 5px;
 width: 15em;
 height: 30em;
 display: flex;
 float: left;
 flex-direction: column;
 margin: 0.5em
}

#main {
 background-image: url(../images/ctbg.gif);
 border: 3px solid var(--color7);
 border-radius: 5px;
 width: 100%;
 height: 100%;
 position: relative;
 float: right;
 margin: .5em
}

.center {
 position: absolute;
 text-align:center;
 top: 50%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%)
}

#musicplayer {
 text-align: center; 
 background-image: url(../images/ctbg.gif);
 border: 3px solid var(--color7);
 border-radius: 5px;
 width: 13.75em;
 display: flex;
 float: left;
 flex-direction: column;
 margin: 0.5em
}
 
#container {
 border: 3px solid var(--color7);
 border-radius: 5px;
 width: 100%;
 height: 100%;
 position: relative;
 float: right;
 margin: .5em;
 overflow-y: hidden;
}

.n1{
 background: var(--rgba3);
 border: 1px solid var(--color7);
 border-radius: 5px;
 display: block;
 margin: 3px 1px 3px 1px
}

.navlink a{
 font-family: 'Zen Maru Gothic';
 color: var(--heading);
 letter-spacing: 2px;
 background: -webkit-linear-gradient(var(--headingout), var(--color4));
 margin: 3px;
 padding: 3px;
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-stroke: 4px transparent
}

.navlink a:hover {
 font-family: 'Zen Maru Gothic';
 background: -webkit-linear-gradient(var(--heading), var(--color12));
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-stroke: 4px transparent
 }

.innercontainer {
 background: var(--rgba4);
 border: 1px solid var(--color7);
 border-radius: 5px;
 margin: 1%;
 padding: 1%
}

.outercontainer {
 background: var(--rgba5);
 border: 1px solid var(--color7);
 border-radius: 5px;
 padding: 1%;
 margin: 1%
}

.popcontainer {
 background: var(--rgba5);
 border: 1px solid var(--color7);
 border-radius: 5px;
 padding: 1%;
 margin: 1%;
 text-align: center;
}

#footer {
 color: var(--txt);
 margin:-1.2em;
 font-size: 0.8em
}

#content {
 height: 39em;
 overflow-y: hidden;
 overflow-x: hidden;
}

#content iframe {
 border:none;
 width:100%;
 height:100%;
}

#chat {
 height: 100%;
 width: 15em;
}

#chat iframe {
 border:none;
 width:100%;
 height:100%
}

.straw-info {
 position: absolute;
 cursor: var(--curhelp), auto;
}

.straw-info:hover .straw-overlay {
 opacity: 1;
}

.straw-overlay {
 pointer-events: none;
 opacity: 0;
 transition: 0.2s;
 background-image: url(../images/stut.gif);
 position: absolute;
 height: 47em;
 width: 42em;
}

#strawpage {
 height: 50em;
 overflow-y: hidden;
 overflow-x: hidden;
}

#strawpage iframe {
 border:none;
 width:100%;
 height:60em;
 overflow-y: hidden;
 overflow-x: hidden;
}

#gallery iframe {
 border:none;
 width:100%;
 height:33em;
 overflow-y: hidden;
 overflow-x: hidden;
}

.sidepad {
 padding: 4.5%
}

.mini {
width: 75%;
display: flex;
margin-left: auto;
flex-direction: row;
z-index: 1;
}

#recents, #planning {
 background: var(--rgba4);
 border: 1px solid var(--color7);
 border-radius: 5px;
 width: 48%;
 height: 9.6em;
 bottom: 1.8%;
 right: 2.7%;
 display: flex;
 float: right;
 flex-direction: column;
 margin: 0.5em;
 padding: 1%;
}

.rssimage {
 cursor: var(--curhelp), auto;
 height: 1em;
}

#ups {
 list-style-position: inside;
 overflow-y: scroll;
}

#logs {
 list-style-position: inside;
 overflow-y: scroll;
}

.upper {
 margin-top: -.1em;
}

.layouthead {
 background-image: url(../images/hdrly.png);
 background-repeat: repeat-x;
 background-position: right; 
 height: 1em;
 overflow-x: auto
}

.navhead, .navhead2 {
 background-repeat: repeat-x;
 background-position: right; 
 height: 1em;
 overflow-x: auto;
 overflow-y: hidden;
}

.navhead {
 background-image: url(../images/hdrsd.gif);
}

.navhead2 {
 background-image: url(../images/hdrmi.gif);
}

.mainhead {
 background-image: url(../images/hdrbg.png);
 background-repeat: repeat-x;
 background-position: right; 
 height: 1em;
 overflow-x: auto
}

#headerfocus {
 position: relative;
 left: 75%;
 bottom: 95%;
 scale: 70%;
}

.innerborder {
 background-image: url(../images/bdbg.gif);
 border: 1px solid var(--color7);
 border-radius: 5px;
 display: inline-flex; /* Remove to make fill */
 padding: 1%;
 margin: 1%
}

*::-webkit-scrollbar {
 width: 16px
}

*::-webkit-scrollbar-track {
 background: var(--scrollbar)
}

*::-webkit-scrollbar-thumb {
 background-color: var(--color4);
 border-radius: 10px;
 border: 3px solid var(--heading)
}

.songtitle, .track-info, .now-playing{
 color: var(--heading);
 font-size: 0.8em;
 padding: 0px
}

.controls{
 display: flex; 
 flex-direction: column; 
 gap: 0px
}

.buttons{
 font-size: 0.8em;
 width: 100%;
 display: flex;
 justify-content: center
}

.buttons div{
 width: 33.3%
}

.playpause-track, .prev-track, .next-track{
 color: var(--heading);
 font-size: 1.8em
}

.volume-icon{
 font-size: 0.8em
}

.seeking, .volume{
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 0px
}

.track-info{
 background: var(--rgba6);
 border: 1px solid var(--color7);
 border-radius: 5px;
 padding: 5px
}

.now-playing{
 font-weight: bold
}

input[type=range]{
width: 95%;
-webkit-appearance: none;
appearance: none
}

input[type=range]:focus{
 outline: none
}

input[type=range]::-webkit-slider-runnable-track{
 background:var(--heading);
 width: 90%;
 height: 3px
}

input[type=range]::-webkit-slider-thumb{
 background: var(--heading);
 border-radius: 3px;
 height: 0.8em;
 width: 0.8em;
 margin-top: -3px;
 -webkit-appearance: none
}

input[type=range]::-moz-range-track{
 background: var(--heading);
 width: 90%;
 height: 3px
}

input[type=range]::-moz-range-thumb{
 background: var(--heading);
 border: none;
 border-radius: 3px;
 height: 0.8em;
 width: 0.8em
}

input[type=range]{
 width: 95%;
 -webkit-appearance: none;
 appearance: none
}

input[type=range]:focus{
 outline: none
}

input[type=range]::-webkit-slider-runnable-track{
 background:var(--heading);
 width: 90%;
 height: 3px
}

input[type=range]::-webkit-slider-thumb{
 background: var(--heading);
 border-radius: 3px;
 width: 0.8em;
 height: 0.8em;
 margin-top: -3px;
 -webkit-appearance: none
}

input[type=range]::-moz-range-track{
 background: var(--heading);
 width: 90%;
 height: 3px
}

input[type=range]::-moz-range-thumb{
 background: var(--heading);
 border: none;
 border-radius: 3px;
 width: 0.8em;
 height: 0.8em
}

.kosugi-maru-regular {
 font-family: "Kosugi Maru", serif;
 font-weight: 400;
 font-style: normal
}

.zen-maru-gothic-regular {
 font-family: "Zen Maru Gothic", serif;
 font-weight: 400;
 font-style: normal
}

.hachi-maru-pop-regular {
 font-family: "Hachi Maru Pop", serif;
 font-weight: 400;
 font-style: normal
}

/* -------------- popup -------------- */
.poparea {
 display: grid;
 grid-template-columns: repeat(3, auto);
 justify-content: space-around;
 justify-items: center;
 gap: 100px;
 padding: 55px
}
.pophost {
 position: relative;
 cursor: var(--curwork), auto;
 transition: transform 0.2s
}
.pophost:hover {
 transform: scale(1.05);
}
.extra:hover {
 transform: scale(1.2)
}
.pophost img {
 width: 100%;
 height: 100%;
 object-fit: contain;
 -webkit-touch-callout: none !important;
-webkit-user-select: none !important;
-webkit-user-drag: none !important;
-khtml-user-select: none !important;
-moz-user-select: none !important;
-ms-user-select: none !important;
 user-select: none !important
}
.popup {
 cursor: var(--curdef), auto;
 z-index:1;
 justify-items: center;
 position: absolute;
 max-width: 250px;
 width: max-content;
 height: max-content;
 top: 50%;
 left: 50%;
 pointer-events: none;
 text-align: center;
 opacity: 0;
 transition: opacity 0.35s ease, transform 0.35s ease;
 transform: translate(-50%, -50%) scale(0.9);
 box-shadow: 0 2px 5px rgba(0,0,0,0.4)
}
.popup.show {
 opacity: 1;
 pointer-events: all;  /*highlighting*/
 transform: translate(-50%, -50%) scale(1)
}

#pex {
  width:80%;
  height:80%;
}

.extra img {
 width: 7%;
 height: 7%
}

#pstatus {
 font-size: 1.6vw;
 line-height: 1em;
}

.rss-title {
 color: var(--color12);
 background-color: var(--heading);
 font-size: large;
}

#rss-feed {
 overflow-y:scroll
}

.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }

/* -------- popup box -------- */
.popup {
 font-size: small;
 border: 1px solid #947ed0;
 border-radius: 5px;
 display: inline-block;
 padding: 5px;
 background-image: url(../images/bdbg.gif)
}







/* BUTTON */

.button {
 display: inline-block;
 padding: .25rem .5rem;
 background: var(--bg2);
 border: 1px solid var(--underline);
 filter: none;
 color: var(--underline);
 font-size: .85rem;
 cursor: var(--curlink), auto;
}
.button:hover {
 background-color: var(--text);
 color: var(--bg2);
 border: 1px solid var(--border);
}
.button:active,
.button.is-checked {
 background-color: var(--text);
 border: 1px solid var(--border);
 color: var(--bg2);
}

  button.asc::after { content: " ↑"; }
  button.desc::after { content: " ↓"; }

/* BUTTON GROUP */

.button-group:after {
 content: '';
 display: block;
 clear: both;
}
.button-group .button {
 float: left;
 border-radius: 0;
 margin: 0rem .5rem .5rem 0rem;
}
#sorts {
 margin-bottom: -.5rem;
}

/* GRID */

.iso-grid {
 display: grid;
 margin: 0 auto;
 grid-gap: 1.3em;
 grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr)); /* 150px = minimum image size */
 grid-auto-flow: dense;
 padding: 0em;
}

/* ITEM */

.item {
 margin-bottom: 1em;
 overflow: clip;
 border: var(--color12);
 filter: var(--color3);
}

.isoclass-tall {
 width: 8.5em;
}

.iso-steam {
 width: 8.5em;
 aspect-ratio: 2/3;
}

.iso-roblox {
 width: 8.5em;
 aspect-ratio: 1/1;
}

.item img {
 object-fit: cover;
 width: 100%;
 height: 100%;
 display: inline-block;
}
.item:hover .iso-overlay {
 opacity: 1;
}

/* ITEM INFO */

.iso-overlay {
 opacity: 0;
 transition: 0.2s;
 background: black;
 position: absolute;
 top: 0%;
 left: 0%;
 height: 100%;
 width: 100%;
}